@model PJ_Login.Models.UserLogin

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除帳號</h1>

<div>
    <h4>帳號管理</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.UserId">
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="AccountManage" class="btn btn-primary">返回</a>
    </form>
</div>
