@model PJ_Login.ViewModels.AbnomalLogViewmodel

@{
    ViewData["Title"] = "Log詳細內容";
}
<style>
    body {
        background-color: #ADD8E6;
        font-family: Noto Sans TC;
    }
</style>
<h1>Log詳細內容</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistinationPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistinationPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anomly)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Anomly)*@
            @if (Model.Anomly == "True")
            {
                <span class="text-success">正常</span>
            }
            else
            {
                <span class="text-danger">異常</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DisplayLogList2" class="btn btn-success ">返回</a>
</div>
