@model PJ_Login.ViewModels.AbnomalLogViewmodel

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/detailsstylesheet.css" rel="stylesheet" />
<h1>詳細內容</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirtualDomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirtualDomain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcInterface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcInterface)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcInterfaceRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcInterfaceRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstInterface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstInterface)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstInterfaceRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstInterfaceRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DstCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DstCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyUuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trandisp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trandisp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentByte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentByte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveredByte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecoveredByte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentPkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentPkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecoveredPkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecoveredPkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttackId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttackId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryTypeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Error)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Error)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incidentserialno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incidentserialno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreRuleSetScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreRuleSetScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreRuleAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreRuleAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreRuleLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreRuleLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anomaly)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Anomaly == "True")
            {
                <!-- 如果Anomly為"True"，顯示綠色的"正常" -->
                <span class="text-success">正常</span>
            }
            else
            {
                <!-- 如果Anomly為"False"，顯示紅色的"異常" -->
                <span class="text-danger">異常</span>
            }            
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a class="btn btn-success" onclick="javascript:history.back();return false;">返回</a>
</div>
