@{
    ViewData["Title"] = "ChartSelection";
}

<h1>圖像視覺化</h1>

<div class="d-flex" id="wrapper">
    <!-- 側邊導覽列 -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="@Url.Action("bar_accept", "LogChart", new { chartType = "Chart1" })" class="list-group-item list-group-item-action">Chart 1</a>
            <a href="@Url.Action("bar_client_rst", "LogChart", new { chartType = "Chart2" })" class="list-group-item list-group-item-action">Chart 2</a>
            <a href="@Url.Action("bar_close", "LogChart", new { chartType = "Chart3" })" class="list-group-item list-group-item-action">Chart 3</a>
            <a href="@Url.Action("bar_deny", "LogChart", new { chartType = "Chart4" })" class="list-group-item list-group-item-action">Chart 4</a>
            <a href="@Url.Action("bar_ip_conn", "LogChart", new { chartType = "Chart5" })" class="list-group-item list-group-item-action">Chart 5</a>
            <a href="@Url.Action("bar_server_rst", "LogChart", new { chartType = "Chart6" })" class="list-group-item list-group-item-action">Chart 6</a>
            <a href="@Url.Action("bar_timeout", "LogChart", new { chartType = "Chart7" })" class="list-group-item list-group-item-action">Chart 7</a>
        </div>
    </div>

    <!-- 內容區域 -->
    <div id="page-content-wrapper">
        <h2>Chart Selection Page</h2>
        <p>Please select a chart from the sidebar.</p>
        <div id="chartContainer"></div>
    </div>

</div>
