@model IEnumerable<PJ_Login.ViewModels.AbnomalLogViewmodel>
<tbody>
    @foreach (var item in Model.OrderByDescending(x =>x.id))
    {
        var date = item.Date.ToString("yyyy-MM-dd");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationIp)
            </td>
            <td>
                @if (item.Anomly == "True")
                {
                    <!-- 如果Anomly為"True"，顯示綠色的"正常" -->
                    <span class="text-success">正常</span>
                }
                else
                {
                    <!-- 如果Anomly為"False"，顯示紅色的"異常" -->
                    <span class="text-danger">異常</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id"class="btn btn-primary">詳細內容</a>
            </td>
        </tr>
    }
</tbody>

